@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$bp: 650px;

@mixin breakpoint($bp: 0) {
    @media(max-width: $bp) {
        @content;
    }
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	body {
		width: 100%;
		height: 100vh;
		font-family: 'Roboto', sans-serif;

		header {
			nav {
				display: flex;
				margin: 0 auto;
				padding: 1rem 1rem;
				background-color: #1BF2A3;

				a {
					&.logo {
						display: flex;
						margin: 0;
						text-decoration: none;
						max-width: 10%;
						align-items: center;

						span {
							&.logo-char {
								background: #fff;
								padding: 0.2rem;
								margin: 0 0.2rem;
								font-weight: 600;
								font-size: 1.5rem;
								text-align: center;
								color: #1BF2A3;
								flex: 1;
							}
						}
					}
				}

				ul {
					&.menu {
						display: flex;
						margin: 0 auto;
						max-width: 50%;
						list-style-type: none;
						align-items: center;

						li {
							margin: 0 0.8rem;
							font-size: 1rem;
							font-weight: 600;
							white-space: nowrap;
							text-align: center;

							a {
								text-decoration: none;
								color: #fff;
							}
						}
					}
				}

				button {
					&.modal-button {
						padding: 0.5rem 1rem;
						font-weight: 600;
						font-size: 1rem;
						color:#1BF2A3;
						border: none;
						border-radius: 0.4em;
						cursor: pointer;
					}
				}

				@include breakpoint($bp) {
					a {
						&.logo {
							order: 0;
						}
					}

					ul {
						&.menu {
							li {
								&.item {
									display: none;
								}
							}
						}
					}

					button {
						&.modal-button {
							order: 1;
						}
					}
				}
			}
		}

        div {
            &.modal {
				position: fixed;
				z-index: 1;
                display: none;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.4);

                div {
                    &.modal-content {
                        position: relative;
						overflow: hidden;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -61%);
						height: 400px;
                        width: 25%;
						padding: 30px;
						border-radius: 5px;
                        box-shadow: 0 15px 20px 0 rgba(0,0,0,0.1);
                        background-color: #fff;
						transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

						div {
							&.form-container {
								overflow: hidden;
								width: 100%;

								div {
									&.form-inner {
										display: flex;
										width: 200%;

										form {
											width: 50%;
											transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

											&.signup {
												div {
													&.tab {
														display: none;

														&.medico {
															height: 55vh;

															div {
																&.field {
																	width: 49%;
																	display: inline-block;

																	input {
																		&[type="submit"] {
																			transform: translate(50%, 30%);
																		}
																	}
																}
															}
														}
													}

													&.user-select {
														display: block;
														width: 100%;

														div {
															&.item-user {
																display: flex;

																p {
																	width: 100%;
																	font-size: 1vw;
																	text-align: center;
																}

																a {
																	flex: 1;
																	margin: 5px;
																	text-align: center;
																	border-radius: 5px;
																	font-size: 1vw;
																	font-weight: 600;
																	padding: 7.5px 0;
																	background: linear-gradient(left, #1BF2A3, aqua), -webkit-linear-gradient(left, #1BF2A3, aqua);
																	text-decoration: none;
																	color: #fff;
																	
																	&:hover{
																		background: linear-gradient(left, aqua, #1BF2A3), -webkit-linear-gradient(left, aqua, #1BF2A3);
																	}
																}
															}
														}
													}
												}
											}

											&.login, &.signup {
												div {
													&.title {
														width: 100%;
														font-size: 2.2vw;
														font-weight: 600;
														text-align: center;
														white-space: nowrap;
														transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
													}
													
													&.field {
														height: 50px;
														width: 100%;
														margin-top: 20px;

														input {
															height: 100%;
															width: 100%;
															outline: none;
															padding-left: 15px;
															font-size: 1vw;
															border-radius: 5px;
															border: 1px solid lightgray;
															border-bottom-width: 2px;

															&[type="submit"] {
																color: #fff;
																font-size: 1.6vw;
																font-weight: 500;
																padding-left: 0;
																border: none;
																cursor: pointer;
																background: linear-gradient(left, #1BF2A3, aqua), -webkit-linear-gradient(left, #1BF2A3, aqua);

																&:hover {
																	background: linear-gradient(left, aqua, #1BF2A3), -webkit-linear-gradient(left, aqua, #1BF2A3);
																}
															}

															&:focus {
																border-bottom-color: #1BF2A3;
															}
														}

														i {
															margin-left: -35px;
															cursor: pointer;
														}

														&.check-terms {
															display: block;
															position: relative;
															font-size: 0.8vw;
															-webkit-user-select: none;
															-moz-user-select: none;
															-ms-user-select: none;
															user-select: none;

															p {
																margin-left: 30px;

																a {
																	text-decoration: none;
																	color: #1BF2A3;

																	&:hover {
																		text-decoration: underline;
																	}
																}
															}

															input {
																&[type="checkbox"] {
																	position: absolute;
																	height: 2vh;
																	width: 2vh;
																	cursor: pointer;
																	accent-color: #1BF2A3;
																}
															}
														}
													}

													&.pass-link {
														margin-top: 5px;
													}

													&.signup-link, &.login-link, &.login-link1 {
														text-align: center;
													}

													&.login-link, &.login-link1 {
														margin-top: 10px;
													}

													&.signup-link {
														margin-top: 30px;
													}

													&.pass-link, &.signup-link, &.login-link, &.login-link1 {
														font-size: 1vw;
														a {
															color: #1BF2A3;
															text-decoration: none;

															&:hover {
																text-decoration: underline;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
                    }
                }
            }
        }

		main {
			z-index: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80vh;

			section {
				&.banner {
					max-width: 100%;

					div {
						&.cube {
							text-align: center;
							color: #cecece;

							h2 {
								font-size: 6vw;

								span {
									background: #1BF2A3;
									color: #fff;
									padding: 1vw;
								}
							}
						}
					}
				}
			}
		}
	}
}
