@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

* body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-color: #1BF2A3;
}

* body header nav a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  text-decoration: none;
  max-width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header nav a.logo span.logo-char {
  background: #fff;
  padding: 0.2rem;
  margin: 0 0.2rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: #1BF2A3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

* body header nav ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header nav ul.menu li {
  margin: 0 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
}

* body header nav ul.menu li a {
  text-decoration: none;
  color: #fff;
}

* body header nav button.modal-button {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: #1BF2A3;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
}

@media (max-width: 650px) {
  * body header nav a.logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  * body header nav ul.menu li.item {
    display: none;
  }
  * body header nav button.modal-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

* body div.fmenu {
  position: relative;
  z-index: 1;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -61%);
          transform: translate(-50%, -61%);
  height: 460px;
  width: 30%;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

* body div.fmenu div.title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
}

* body div.fmenu div.title-text div.title {
  width: 50%;
  font-size: 2.2vw;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

* body div.fmenu div.title-text div.title.atitle, * body div.fmenu div.title-text div.title.ctitle, * body div.fmenu div.title-text div.title.etitle, * body div.fmenu div.title-text div.title.rtitle {
  display: none;
}

* body div.fmenu div.form-container {
  overflow: hidden;
  width: 100%;
}

* body div.fmenu div.form-container div.form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
}

* body div.fmenu div.form-container div.form-inner form {
  width: 50%;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

* body div.fmenu div.form-container div.form-inner form div.field {
  height: 50px;
  width: 100%;
}

* body div.fmenu div.form-container div.form-inner form div.field input, * body div.fmenu div.form-container div.form-inner form div.field textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-bottom-width: 2px;
  padding: 1vw;
  font-size: 1vw;
  margin-top: 20px;
  outline: none;
}

* body div.fmenu div.form-container div.form-inner form div.field input:focus, * body div.fmenu div.form-container div.form-inner form div.field textarea:focus {
  border-bottom-color: #1BF2A3;
}

* body div.fmenu div.form-container div.form-inner form div.field input[type="submit"] {
  color: #fff;
  font-weight: 600;
  padding: 1vw 0;
  width: 20%;
  margin: 209px 0;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#1BF2A3), to(aqua)), -webkit-linear-gradient(left, #1BF2A3, aqua);
  background: linear-gradient(left, #1BF2A3, aqua), -webkit-linear-gradient(left, #1BF2A3, aqua);
}

* body div.fmenu div.form-container div.form-inner form.pmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body div.fmenu div.form-container div.form-inner form.pmenu div {
  width: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#1BF2A3), to(aqua)), -webkit-linear-gradient(left, #1BF2A3, aqua);
  background: linear-gradient(left, #1BF2A3, aqua), -webkit-linear-gradient(left, #1BF2A3, aqua);
  padding: 1vw;
  cursor: pointer;
  margin: 5px auto;
  text-align: center;
}

* body div.fmenu div.form-container div.form-inner form.pmenu div a {
  padding: 1vw 3.5vw;
  background: -webkit-gradient(linear, left top, right top, from(#1BF2A3), to(aqua)), -webkit-linear-gradient(left, #1BF2A3, aqua);
  background: linear-gradient(left, #1BF2A3, aqua), -webkit-linear-gradient(left, #1BF2A3, aqua);
  text-decoration: none;
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
}

* body div.fmenu div.form-container div.form-inner form.imenu {
  display: none;
}

* body div.fmenu div.form-container div.form-inner form.imenu.pconsulta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body div.fmenu div.form-container div.form-inner form.imenu.pconsulta div.tab {
  display: none;
}

* body div.fmenu div.form-container div.form-inner form.imenu.pconsulta textarea {
  resize: none;
}

* body div.fmenu div.form-container div.form-inner div.bmenu {
  width: 50%;
  position: absolute;
  margin: 40% 20%;
  text-align: center;
  display: none;
}

* body div.fmenu div.form-container div.form-inner div.bmenu a {
  border-radius: 5px;
  padding: 1vw 3.5vw;
  background: -webkit-gradient(linear, left top, right top, from(#1BF2A3), to(aqua)), -webkit-linear-gradient(left, #1BF2A3, aqua);
  background: linear-gradient(left, #1BF2A3, aqua), -webkit-linear-gradient(left, #1BF2A3, aqua);
  text-decoration: none;
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
}
/*# sourceMappingURL=menustyle.css.map */