<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>TESTE ABRE CONSULTA</h1>
    </div>
    <form th:action="@{/menumedico/confirma_consulta}" th:object="${consultaDTO}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class ="form-group row">
                <label class="col-4 col-form-label">E-mail Paciente:</label>
                <div class="col-8">
                    <input type="text" th:field="*{paciente_email}" class="form-control" required/>
                </div>
            </div>
            <div class ="form-group row">
                <label class="col-4 col-form-label">Descrição:</label>
                <div class="col-8">
                    <input type="text" th:field="*{descricao}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Valor: </label>
                <div class="col-8">
                    <input type="number" step="0.01" th:field="*{valor}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Data: </label>
                <div class="col-8">
                    <input type="date" th:field="*{data}" class="form-control"
                           required/>
                </div>
            </div>
            <input type="hidden" th:field="*{medico_email}" th:value="${consultaDTO.medico_email}"/>

            <div>
                <button type="submit" class="btn btn-primary">Aceitar</button>
            </div>
        </div>
    </form>
</div>
<div class="container text-center">
    <h3><a href="/menumedico">Menu</a></h3>
</div>
</body>
</html>