<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="ISO-8859-1">
    <title>Aceita Consulta</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/menumedico">Inicio</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>
<div class="fmenu">
    <div class="title-text">
        <div class="title mtitle">
            Aceita Consulta
        </div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form th:action="@{/menumedico/confirma_consulta}" th:object="${consultaDTO}" method="post" class="login">
                <div class="field">
                    <input type="text" th:field="*{paciente_email}" placeholder="E-mail paciente" th:value="${consultaDTO.paciente_email}" required/>
                </div>
                <div class="field">
                    <input type="text" th:field="*{descricao}" placeholder="Descrição" th:value="${consultaDTO.descricao}" required/>
                </div>
                <div class="field">
                    <input type="number" step="0.01" th:field="*{valor}" placeholder="Valor" min="0.0" required/>
                </div>
                <div class="field">
                    <input type="date" th:field="*{data}" required/>
                </div>
                <div class="field">
                    <input type="time" th:field="*{hora}" required/>
                </div>
                <input type="hidden" th:field="*{pedido_id}" th:value="${consultaDTO.pedido_id}"/>
                <input type="hidden" th:field="*{medico_email}" th:value="${consultaDTO.medico_email}"/>
                <br>
                <div class="field">
                    <button type="submit">Criar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>