<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minha Conta</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/menumedico">Inicio</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>
<div class="fmenu">
    <div class="title-text">
        <div class="title mtitle">
            Conta Médico
        </div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form th:action="@{/menumedico/atualizaconta/}" th:object="${medico}" method="post" class="login">
                <div class="field">
                    <input type="text" th:value="${medico.nome}" th:field="*{nome}"/>
                </div>
                <div class="field">
                    <input type="text" th:value="${medico.enderecopessoal}" th:field="*{enderecopessoal}"/>
                </div>
                <div class="field">
                    <input type="text" th:value="${medico.enderecopessoal}" th:field="*{enderecopessoal}"/>
                </div>
                <div class="field">
                    <input type="text" th:value="${medico.telefone}" th:field="*{telefone}"/>
                </div>
                <div class="field">
                    <input type="text" th:value="${medico.enderecoconsultorio}" th:field="*{enderecoconsultorio}"/>
                </div>
                <input type="hidden" th:field="*{id}" th:value="${medico.id}"/>
                <input type="hidden" th:field="*{cpf}" th:value="${medico.cpf}"/>
                <input type="hidden" th:field="*{crm}" th:value="${medico.crm}"/>
                <input type="hidden" th:field="*{especialidade}" th:value="${medico.especialidade}"/>
                <input type="hidden" th:field="*{senha}" th:value="${medico.senha}"/>
                <input type="hidden" th:field="*{email}" th:value="${medico.email}"/>
                <br>
                <div class="field">
                    <button type="submit">Atualizar</button>
                </div>
                <div class="field">
                    <a th:href="@{/menumedico/metodos/}">Administrar metodos de recebimento</a>
                </div>

            </form>
        </div>
    </div>
</div>
<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>