<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minha Conta</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/menupaciente">Inicio</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>
<div class="fmenu">
    <div class="title-text">
        <div class="title mtitle">
            Conta Paciente
        </div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form th:action="@{/menupaciente/atualizaconta/}" th:object="${paciente}" method="post" class="login">
                <div class="field">
                    <input type="text" th:value="${paciente.nome}" th:field="*{nome}" />
                </div>
                <div class="field">
                    <input type="text" th:value="${paciente.endereco}" th:field="*{endereco}"/>
                </div>
                <div class="field">
                    <input type="text" th:value="${paciente.telefone}" th:field="*{telefone}"/>
                </div>
                <br>
                <div class="field">
                    <label class="col-4 col-form-label">Permite exibicao de exames:</label>
                    <div class="col-8">
                        <select th:field="*{permite_exames}" required>
                            <option th:value="True" th:text="Sim"></option>
                            <option th:value="False" th:text="Nao"></option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="col-4 col-form-label">Permite exibicao de consultas:</label>
                    <div class="col-8">
                        <select th:field="*{permite_consultas}" required>
                            <option th:value="True" th:text="Sim"></option>
                            <option th:value="False" th:text="Nao"></option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:field="*{id}" th:value="${paciente.id}"/>
                <input type="hidden" th:field="*{cpf}" th:value="${paciente.cpf}"/>
                <input type="hidden" th:field="*{senha}" th:value="${paciente.senha}"/>
                <input type="hidden" th:field="*{email}" th:value="${paciente.email}"/>
                <br>
                <div class="field">
                    <button type="submit">Atualizar</button>
                </div>
                <div class="field">
                    <a th:href="@{/menupaciente/metodos/}">Administrar metodos de pagamento</a>
                </div>

            </form>
        </div>
    </div>
</div>


<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>