<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Metodos de Pagamento</title>
</head>
<body>

<div>
    <h3>Gerenciar Metodos de Pagamento</h3>
    <table>
        <thead>
        <tr>
            <th>Metodo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="metodo:${metodos}">
            <td th:text="${metodo.nome}"/>
            <td><a th:href="@{'/menupaciente/apagametodo/'+${metodo.id}}">Apagar</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/menupaciente/adicionametodo/}">Adiciona Metodo de Pagamento</a>
    <a href="/menupaciente">Menu</a>
</div>

</body>
</html>