<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Agenda</title>
</head>
<body>

<div>
  <h3>Agenda</h3>
  <table>
    <thead>
    <tr>
      <th>Paciente</th>
      <th>Email</th>
      <th>Descricao</th>
      <th>Data</th>
      <th>Hora</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="consulta:${consultas}">
      <td th:text="${consulta.paciente.getNome()}"></td>
      <td th:text="${consulta.paciente.getEmail()}"></td>
      <td th:text="${consulta.descricao}" />
      <td th:text="${consulta.data}" />
      <td th:text="${consulta.hora}" />
    </tr>
    </tbody>
  </table>
  <a href="/menumedico">Menu</a>
</div>

</body>
</html>