<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Medico</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/">Inicio</a></li>
            <li class="item"><a href="/">Sobre</a></li>
            <li class="item"><a href="/">Serviços</a></li>
            <li class="item"><a href="/">Suporte</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>
<div class="container text-center">
    <div>
        <h1>TESTE CADASTRO MEDICO</h1>
    </div>
    <form th:action="@{/medico_registro}" th:object="${medico}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Senha: </label>
                <div class="col-8">
                    <input type="password" th:field="*{senha}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Nome: </label>
                <div class="col-8">
                    <input type="text" th:field="*{nome}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">CPF: </label>
                <div class="col-8">
                    <input type="text" th:field="*{cpf}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">CRM: </label>
                <div class="col-8">
                    <input type="text" th:field="*{crm}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Endereco Pessoal: </label>
                <div class="col-8">
                    <input type="text" th:field="*{enderecopessoal}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Telefone: </label>
                <div class="col-8">
                    <input type="text" th:field="*{telefone}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Endereço Consultório: </label>
                <div class="col-8">
                    <input type="text" th:field="*{enderecoconsultorio}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Especialidade: </label>
                <div class="col-8">
                    <input type="text" th:field="*{especialidade}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
</div>
<div class="container text-center">
    <h3><a href="/">Menu</a></h3>
</div>
<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>