<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Exibe exames</title>
</head>
<body>

<div>
  <h3>Exibe Exames</h3>
  <table>
    <thead>
    <tr>
      <th>Paciente</th>
      <th>Email</th>
      <th>Nome</th>
      <th>Data</th>
      <th>Feito</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exame:${exames}">
      <td th:text="${exame.paciente.getNome()}"/>
      <td th:text="${exame.paciente.getEmail()}"/>
      <td th:text="${exame.nome}" />
      <td th:text="${exame.data}"/>
      <td th:text ="SIM" th:if="${exame.feito == True}"/>
      <td th:text ="NAO" th:if="${exame.feito == False}"/>
      <td><a th:href="@{'/menumedico/exame/'+${exame.id}}">Ver</a></td>
    </tr>
    </tbody>
  </table>
  <a href="/menumedico">Menu</a>
</div>

</body>
</html>