<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gerenciar Exames</title>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
  <nav>
    <a class="logo" href="#">
      <span class="logo-char">G</span>
      <span class="logo-char">R</span>
      <span class="logo-char">U</span>
      <span class="logo-char">P</span>
      <span class="logo-char">O</span>
      <span class="logo-char">1</span>
      <span class="logo-char">0</span>
    </a>
    <ul class="menu">
      <li class="item"><a href="/">Inicio</a></li>
      <li class="item"><a href="/">Sobre</a></li>
      <li class="item"><a href="/">Serviços</a></li>
      <li class="item"><a href="/">Suporte</a></li>
    </ul>
    <form>
      <button th:formaction="@{/logout}" class="modal-button">Logout</button>
    </form>
  </nav>
</header>

<div>
  <h3>Gerenciar Exames</h3>
  <form th:action="@{'/menupaciente/filtraexames'}" method="post" style="max-width: 600px; margin: 0 auto;">
    <button type="submit" class="btn btn-primary" name="nao_feitos">Nao Feitos</button>
    <button type="submit" class="btn btn-primary" name="todas">Todos</button>
    <button type="submit" class="btn btn-primary" name="feitos">Feitos</button>
  </form>
  <table>
    <thead>
    <tr>
      <th>Medico</th>
      <th>Email</th>
      <th>Nome</th>
      <th>Data</th>
      <th>Feito</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exame:${exames}">
      <td th:text="${exame.medico.getNome()}"/>
      <td th:text="${exame.medico.getEmail()}"/>
      <td th:text="${exame.nome}" />
      <td th:text="${exame.data}"/>
      <td th:text ="SIM" th:if="${exame.feito == True}"/>
      <td th:text ="NAO" th:if="${exame.feito == False}"/>
      <td><a th:href="@{'/menupaciente/exame/'+${exame.id}}">Ver</a></td>
    </tr>
    </tbody>
  </table>
  <a href="/menupaciente">Menu</a>
</div>

<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>