<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar receitas</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/menupaciente">Inicio</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>

<div class="fmenu">
    <h3>Gerenciar receitas</h3>
    <table>
        <thead>
        <tr>
            <th>Medico</th>
            <th>Remedios</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="receita:${receitas}">
            <td th:text="${receita.medico.getNome()}"/>
            <td th:text="${receita.remedios}"/>
            <td th:text="${receita.data}" />
            <td><a th:href="@{'/menupaciente/receita/'+${receita.id}}">Ver</a></td>
            <td><a th:href="@{'/menupaciente/apagareceita/'+${receita.id}}">Apagar</a></td>
        </tr>
        </tbody>
    </table>
</div>

<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>