<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/">Inicio</a></li>
            <li class="item"><a href="/">Sobre</a></li>
            <li class="item"><a href="/">Serviços</a></li>
            <li class="item"><a href="/">Suporte</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>
<form th:action="@{/login}" method="post">
    <fieldset>
        <legend>Insira suas credenciais</legend>
        <div th:if="${param.error}" class="alert alert-error">
            Credenciais Inválidas.
        </div>
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password">
        <div class="form-actions">
            <button type="submit" class="btn">Entrar</button>
        </div>
    </fieldset>
</form>
<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>