<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENU MÉDICO</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <p>MENU MÉDICO EM CONSTRUÇÃO</p>
  <div class="container text-center">
      <h1>TESTE SOU MEDICO</h1>
      <h3><a href="/menumedico/agendamedico">Agenda</a></h3>
      <h3><a href="/menumedico/verpedidos">Ver Pedidos de Consulta</a></h3>
      <h3><a href="/menumedico/agendaconsulta">Agendar Consulta</a> </h3>
      <h3><a href="/menumedico/abrirconsulta">Consultas do Dia</a></h3>
      <h3><a href="/menumedico/gerenciarconsultas">Gerenciar Consultas</a></h3>
      <h3><a href="/menumedico/precrreceita">Prescrever Receita</a></h3>
      <h3><a href="/menumedico/reqexame">Requisitar Exames</a></h3>
      <h3><a href="/menumedico/acessarexames">Acessar Exames</a></h3>
      <h3><a href="/menumedico/minhaconta">Administrar Conta</a></h3>
      <h3><a href="/logout">Logout</a></h3>
  </div>
</body>
</html>