<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Paciente</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <p>MENU PACIENTE EM CONSTRUÇÃO</p>
  <div class="container text-center">
      <h1>TESTE SOU PACIENTE</h1>
      <h3><a href="/menupaciente/agendapaciente">Agenda</a></h3>
      <h3><a href="/menupaciente/pedidoconsulta">Abrir Pedido de Consulta</a></h3>
      <h3><a href="/menupaciente/gerenciarpedidos">Gerenciar Pedidos de Consulta</a> </h3>
      <h3><a href="/menupaciente/gerenciarexames">Gerenciar Exames</a></h3>
      <h3><a href="/menupaciente/gerenciarreceitas">Gerenciar Receitas</a></h3>
      <h3><a href="/menupaciente/gerenciarconsultas">Gerenciar Consultas</a></h3>
      <h3><a href="/menupaciente/acessarconsultas">Consultas do Dia</a></h3>
      <h3><a href="/menupaciente/minhaconta">Administrar Conta</a></h3>
  </div>
  <div class="container text-center">
      <h3><a href="/logout">Logout</a></h3>
  </div>
</body>
</html>