<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENU MÉDICO</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <p>MENU MÉDICO EM CONSTRUÇÃO</p>
  <div class="container text-center">
      <h1>TESTE SOU MEDICO</h1>
      <h3><a href="/agendamedico">Agenda</a></h3>
      <h3><a href="/verpedidos">Ver Pedidos de Consulta</a></h3>
      <h3><a href="/agendarcons">Agendar Consulta</a> </h3>
      <h3><a href="/abrirconsulta">Abrir Consulta</a></h3>
      <h3><a href="/gerenciarconsultasmed">Gerenciar Consultas</a></h3>
      <h3><a href="/precrreceita">Prescrever Receita</a></h3>
      <h3><a href="/reqexame">Requisitar Exames</a></h3>
      <h3><a href="/acessarexames">Acessar Exames</a></h3>
      <h3><a href="/contapac">Administrar Conta</a></h3>
  </div>
</body>
</html>