<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paciente</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/">Inicio</a></li>
            <li class="item"><a href="/">Sobre</a></li>
            <li class="item"><a href="/">Serviços</a></li>
            <li class="item"><a href="/">Suporte</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>

<div>
    <h3>Paciente</h3>
    <table>
        <tbody>
        <tr>
            <td>Nome do paciente:</td>
            <td th:text="${pac.getNome()}" />
        </tr>
        <tr>
            <td>CPF:</td>
            <td th:text="${pac.getCpf()}"/>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${pac.getEmail()}"/>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td th:text="${pac.getTelefone()}"/>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/menumedico/pacexames/'+${pac.getId()}}" target="_blank">Ver exames</a>
        <a th:href="@{'/menumedico/paccons/'+${pac.getId()}}" target="_blank">Ver consultas</a>
    </div>
    <a href="/menumedico/acessarexames">Voltar</a>
</div>

<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>