<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sou Medico</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container text-center">
    <h1>TESTE SOU MEDICO</h1>
    <h3><a href="/menumedico">Login</a></h3>
    <h3><a href="/cadastramed">Cadastrar</a></h3>
</div>
<div class="container text-center">
    <h3><a href="/">Menu</a></h3>
</div>
</body>
</html>