<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consulta</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/menustyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">
            <span class="logo-char">G</span>
            <span class="logo-char">R</span>
            <span class="logo-char">U</span>
            <span class="logo-char">P</span>
            <span class="logo-char">O</span>
            <span class="logo-char">1</span>
            <span class="logo-char">0</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="/">Inicio</a></li>
            <li class="item"><a href="/">Sobre</a></li>
            <li class="item"><a href="/">Serviços</a></li>
            <li class="item"><a href="/">Suporte</a></li>
        </ul>
        <form>
            <button th:formaction="@{/logout}" class="modal-button">Logout</button>
        </form>
    </nav>
</header>

<div class="container text-center">
    <div>
        <h1>Consulta</h1>
    </div>
    <form th:object="${consulta}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class ="form-group row">
                <label class="col-4 col-form-label">Medico:</label>
                <div class="col-8">
                    <h3>
                        <a th:text="${consulta.medico.getNome()}" th:target="_blank" th:href="@{'/menupaciente/medico/'+${consulta.medico.getId()}}"/>
                    </h3>
                </div>
            </div>
            <div class ="form-group row">
                <label class="col-4 col-form-label">E-mail Medico:</label>
                <div class="col-8">
                    <h3 th:text="${consulta.medico.getEmail()}"/>
                </div>
            </div>
            <div class ="form-group row">
                <label class="col-4 col-form-label">Descricao:</label>
                <div class="col-8">
                    <h3 th:text="${consulta.descricao}"/>
                </div>
            </div>
            <div class="form-group row" th:if="${consulta.status == 'Em andamento'}">
                <label class="col-4 col-form-label">Link:</label>
                <div class="col-8">
                    <a th:href="|http://${consulta.linkvideoconf}|" th:text="${consulta.linkvideoconf}" th:target="_blank" th:if="${consulta.status == 'Em andamento'}"/>
                </div>
            </div>

            <input type="hidden" th:field="*{id}" th:value="${consulta.id}"/>
            <input type="hidden" th:field="*{data}" th:value="${consulta.data}"/>
            <input type="hidden" th:field="*{valor}" th:value="${consulta.valor}"/>
            <input type="hidden" th:field="*{paciente}" th:value="${consulta.paciente}"/>
            <input type="hidden" th:field="*{medico}" th:value="${consulta.medico}"/>
            <input type="hidden" th:field="*{descricao}" th:value="${consulta.descricao}"/>
            <input type="hidden" th:field="*{status}" th:value="${consulta.status}"/>
            <input type="hidden" th:field="*{linkvideoconf}" th:value="${consulta.linkvideoconf}"/>
            <input type="hidden" th:field="*{hora}" th:value="${consulta.hora}"/>
            <h3><a th:href="@{'/menupaciente/cancelaconsulta/'+${consulta.id}}">Cancelar Consulta</a></h3>
        </div>
    </form>
</div>
<div class="container text-center">
    <h3><a href="/menupaciente">Menu</a></h3>
</div>

<footer style="bottom: 0; width: 100%; text-align: center; color: #fff; font-weight: 600; padding: 40px; background: #1BF2A3; height: 50px; position: absolute;">
</footer>
</body>
</html>