<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pedidos</title>
</head>
<body>

<div>
    <h3>Lista de Pedidos</h3>
    <form th:action="@{'/menumedico/verpedidos/filtro'}" method="post" style="max-width: 600px; margin: 0 auto;">
        <button type="submit" class="btn btn-primary" name="espec">Especializados</button>
        <button type="submit" class="btn btn-primary" name="todos">Todos</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>Paciente</th>
            <th>Descricao</th>
            <th>Especialidade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido:${pedidos}">
            <td th:text="${pedido.paciente.getNome()}"/>
            <td th:text="${pedido.descricao}" />
            <td th:text="${pedido.especialidade}"/>
            <td><a th:href="@{'/menumedico/pedido/'+${pedido.id}}">Ver</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/menumedico">Menu</a>
</div>

</body>
</html>